* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-image: url(imagen/Fondo.png);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Fondo marrón con imagen de fondo */
  background-image: 
    linear-gradient(to bottom, #ffffff 70%, #63442b 30%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
a{
    text-decoration: none;
    color: white;
}
.menu-pedidos {
  display: flex;
  justify-content: space-between; /* distribuye los elementos */
  align-items: center;
  padding: 20px 40px;
  color: white;
  font-weight: bold;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-left img {
  width: 32px;
  height: 52px;
}

.menu-left h1 {
  font-size: 24px;
  font-weight: bold;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: right;
}

.user-info {
  font-size: 14px;
  line-height: 1.4;
}

.user-info .role {
  font-weight: bold;
}

.user-photo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: red; /* fondo rojo detrás si no hay imagen */
}
/* Sección Menú */
.menu-section1 {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 20px;
}
.menu-section2 {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 20px;
}
.menu-section3 {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 20px;
}
.menu-card {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  text-align: center;
  padding: 20px;
  width: 360px;
}

.menu-card img {
  width: 100%;
  border-radius: 10px;
}

.menu-card h3 {
  margin-top: 10px;
}
.descuento h2{
  font-size: 38px;
  text-align: right;
}
.descuento p{
  font-size: 20px;
  text-align: center;
}
.descuento {
  background-color: white;
  width: 820px;
  padding: 20px;

}
.descuento-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  text-align: right;
  
}
.descuento img{
  width: 100px;
  border-radius: 10px;
  align-content: space-between;
}
